/* -------------------- General -------------------- */

body {
  background-color: black;
}

.navbar {
  float: right;
  background-color: #34F6F2;
  width: 350px;
  padding-right: 10px;
  margin: -8px -8px 30px 0;
  text-align: right;
}

.navbar a:visited, .navbar a:link {
  color: black;
}

hr {
  clear: right;
  background-image: url("images/hr.png");
  height: 100px;
  width: 250px;
  border: none;
}

#contact {
  background-color: #FCF300;
  text-align: center;
  color: black;
  margin: 0 -8px 0 -8px;
}

#contact a:visited, #contact a:link {
  color: black;
}

a, p, li {
  font-family: 'Lato', sans-serif;
}

h2 {
  font-family: 'Inconsolata', monospace;
  margin: 40px;
  font-size: 30px;
  }


h3 {
  font-family: 'Inconsolata', monospace;
  padding: 10px;
  background-color: gray;
}

h1 {
  font-family: 'Righteous', cursive;
  margin: 20px;
  padding-top: 40px;
  font-size: 50px;
  line-height: 0px;
}

footer {
  color: white;
  text-align: right;
}

/* -------------------- Mobile-first design rules -------------------- */


.intro-group {
  display: flex;
  flex-direction: row;
}

.item {
  flex: 1;
  padding: 0 15px;
}

header {
  background-color: #306B34;
  color: white;
  width: 95%;
  clear: both;
  border-radius: 0 5% 5% 0;
  margin-left: -8px;
}

header img {
  width: 100%;
}


header h2 {
  line-height: 0px;
}


.about-group {
  display: flex;
  flex-direction: column;
}

.services-group {
  display: flex;
  flex-direction: row;
  width: 100%;
}


#about {
  background-color: #1E96FC;
  color: white;
  float: right;
  width: 95%;
  border-radius: 5% 0 0 5%;
  margin-top: 40px;
  margin-right: -8px;
}

#about img {
  width: 100%;
}


#portfolio {
  background-color: #772D8B;
  color: white;
  width: 95%;
  border-radius: 0 5% 5% 0;
  margin-left: -8px;
}

#portfolio h2 {
  padding-top: 30px;
}

.portfolio-group {
  display: flex;
  flex-direction: column;
}

#portfolio img {
  width: 100%;
}

#portfolio a:visited, #portfolio a:link {
  color: white;
}

/* -------------------- Desktop media query -------------------- */

@media all and (min-width: 800px) {
  .about-group {
    flex-direction: row;
  }
  
  .portfolio-group {
    flex-direction: row;
  }
}
